.projectDescriptionContainer {
  padding: 0px 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagenProjectDescription {
  width: 50%;
  border-radius: 10px;
}

.projectDescriptionText {
  color: whitesmoke;
  padding: 10%;
  text-align: justify;
  font-size: 20px;
}

.projectDescriptionLink {
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  border: solid #f5f5f563 1px;
  border-radius: 5px;
  width: 40%;
}

.projectDescriptionLink:hover {
  color: rgba(255, 255, 255, 0.125);
  border-radius: 10px;
  transition: 0.4s;
}

.projectDescriptionLinks {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.projectDescriptionTitle{
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  border: solid #f5f5f563 1px;
  border-radius: 5px;
  width: 50%;
}