.logos {
  display: block;
  background-color: #2125296b;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: fit-content;

  overflow: hidden;
}

@keyframes slice {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.logos-slice {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-evenly;
  animation: slice 40s  linear infinite;
}
.branch {
  width: 5%;
}
@media (max-width: 767px) {
  .branch {
    width: 10%;
  }
}
