.card {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 600px;
  flex-wrap: wrap;
  margin: 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
      justify-content: space-between;
      padding-bottom: 3px;
}

.imagenArticle {
  width: 100%;
    height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cardTitle {
  color: whitesmoke;
  border-bottom: solid 3px rgba(255, 255, 255, 0.125);
  border-width: 1px;
  text-align: center;
}

.cardText {
  color: whitesmoke;
  text-align: justify;
  padding: 10px;
  font-size: 15px;
}

.cardContentLink{
  display: flex;
  flex-direction: column;


}

.cardLink {
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

.cardLink:hover {
  color: rgb(147, 154, 218);
  text-align: center;
  text-decoration: none;
  font-size: 15px;

 
}

.cardIcon {
  font-size: 30px;
  font-weight: bold;
  color: whitesmoke;
  height: 0;
  width: 0;
}
