.imagenMyExperience{
  width: 300px;
  border-radius: 50%;
  object-fit:cover; 

}

.imagenMySkills{
  width: 300px;
  border-radius: 50%;
  object-fit:cover; 
}

@media (max-width: 767px) {
.imagenMySkills{


}
.textProfileContentRigth ul li {

  margin: 10px;
  }
  }