.profileContent {
  display: flex;
  flex-direction: row;

  padding: 70px 0;
  font-family: revert;
  color: whitesmoke;
  margin: 0px 220px;
}

.textProfileContent {
  padding: 80px 30px;
  text-align: end;
}

.textProfileContentRigth > h1 {
  border-bottom: solid #ffffff3d 1px;
  text-align: start;
}

.textProfileContent > h1 {
  border-bottom: solid #ffffff3d 1px;
}

.imagenProfile {
  border-radius: 50%;
}

@media (max-width: 967px) {
  .profileContent {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 10%;
    font-family: revert;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
   flex-direction: column-reverse;
   min-height: 800px;
  }


  .textProfileContent > h1 {
    border-bottom: solid #ffffff3d 1px;
    font-size: 30px;
    padding: 0;


  }
  .textProfileContentRigth > h1 {
    border-bottom: solid #ffffff3d 1px;
    text-align: start;
    font-size: 30px;
  }

  .imagenProfile {
width: 300px;
  }
}
