#welcome {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 70px 220px;

  width: 80%;
}

#welcome h1 {
  border-bottom: 3px solid #ffffff3d;
  padding-bottom: 30px;
  font-family: revert;
  color: whitesmoke;
  font-size: 50px;
}

h3 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 100;
  color: whitesmoke;
  margin: 0;
}

#welcome a:first-of-type {
  font-family: "Courier New", Courier, monospace;
  color: whitesmoke;
  transition: 1s;
  text-decoration-line: unset;
  font-size: 30px;
  padding: 0px;
  padding-left: 10px;
}

#welcome a {
  color: white;
  font-size: 50px;
}

#welcome a:first-of-type:hover {
  position: relative;
  color: #ece7f4c7;
  transition: 1s;
  font-size: 35px;

}

#iconsWelcome {
  padding: 10px;

}

#iconsWelcome a:first-of-type {
  padding: 0;
  color: white;
  font-size: 50px;
}

#iconsWelcome a:first-of-type:hover {
  padding: 0;
  color: white;
  font-size: 50px;
}




