#welcome {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 5% 10%;
  width: auto;
  animation: appear 1s ease-in-out;
  animation-delay: 500ms;
}

@keyframes appear {
  from {
    margin-left: 0; 
    opacity: 0;
  }
  to {
    margin-left: 5% 10%;
    opacity: 1;
  }
}

#welcome h1 {
  border-bottom: 3px solid #ffffff3d;
  padding-bottom: 30px;
  font-family: revert;
  color: whitesmoke;
  font-size: 50px;
}

h3 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 100;
  color: whitesmoke;
  margin: 0;
}

#welcome a:first-of-type {
  font-family: "Courier New", Courier, monospace;
  color: whitesmoke;
  transition: 1s;
  text-decoration-line: unset;
  font-size: 30px;
  padding: 0px;
  padding-left: 10px;
}

#welcome a {
  color: white;
  font-size: 50px;
}

#welcome a:first-of-type:hover {
  position: relative;
  color: #ece7f4c7;
  transition: 1s;
  font-size: 35px;
}

#iconsWelcome {
  padding: 10px;
}

#iconsWelcome a:first-of-type {
  padding: 0;
  color: white;
  font-size: 50px;
}

#iconsWelcome a:first-of-type:hover {
  padding: 0;
  color: white;
  font-size: 50px;
}
.close {
  width: 10%;
  position: absolute;
  background-color: #4c5c96;
  border-radius: 5px;
  border: none;
  right: 15px;
  top: 10px;
  color: whitesmoke;
  cursor: pointer;
  font-size: 20px;
}

.close:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  #welcome {
    margin: 15% 10%;
  }

  #welcome h1 {
    border-bottom: 2px solid #ffffff3d;
    padding-bottom: 13px;
    font-family: revert;
    color: whitesmoke;
    font-size: 30px;
  }
  h3 {
    font-size: 15px;
    font-family: inherit;
    font-weight: 100;
    color: whitesmoke;
    margin: 0;
  }

  #iconsWelcome {
    padding: 10px;
    display: flex;
    justify-content: space-around;
  }

  #welcome a:first-of-type {
    font-family: "Courier New", Courier, monospace;
    color: whitesmoke;

    text-decoration-line: unset;
    font-size: 25px;
    padding: 0px;
    padding-left: 1px;
    display: flex;
    justify-content: center;
  }

  #welcome a {
    color: white;
    font-size: 60px;
  }

  #iconsWelcome a:first-of-type {
    padding: 0;
    color: white;
    font-size: 60px;
  }

  #iconsWelcome a:first-of-type:hover {
    padding: 0;
    color: white;
    font-size: 60px;
  }
}
