/* LAYOUT */
.contentLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sectionLayout {
  display: flex;
  justify-content: space-between;
  min-height: 90vh;
}

.lineContent {
  border-left: solid whitesmoke 3px;
  margin: 2px;
  width: 90%;
}

.buttonContent {
  background: transparent;
  border: #0dcaf085 solid;
  border-radius: 20px;
  margin: 15px;
  width: 50%;
  height: 40px;
  color: whitesmoke;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: 1s;
}
.buttonContent:hover {
  border: whitesmoke solid;
  cursor: pointer;
  transition: 1s;
}
.imgProfile {
  position: fixed;
  bottom: 0;
  width: 10%;
  right: 5%;
  filter: drop-shadow(0px 0px 100px rgba(40, 40, 155, 0.41));
  z-index: 10;
}

/* LAYOUT - responsive */
@media (max-width: 767px) {
  .sectionLayout {
    min-height: 100vh;
  }
}

/* NAV */
.nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  padding: 1%;
  justify-content: space-between;
  width: 95%;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
.ulLinks {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: end;
  margin-bottom: 0;
  flex-wrap: wrap;
}
.ulLinksVisible {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: end;
  margin-bottom: 0;
  flex-wrap: wrap;
}
.linkNavBar {
  color: whitesmoke;
  list-style: none;
  margin: 10px;
  transition: 1s;
  text-decoration: none;
}
.linkNavBar:hover {
  color: #afc4e46c;
  cursor: pointer;
  transition: 1s;
}
.navLogo {
  width: 50%;
}
/* NAV - responsive */
@media (max-width: 767px) {
  .nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    z-index: 1;
    background-color: #afc4e46c;
    width: 100%;
    transition: 1s;
  }
  .ulLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 0;
    flex-wrap: wrap;
    padding-left: 0;
    transition: 1s;
  }
  .ulLinksVisible {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
    margin-bottom: 0;
    flex-wrap: wrap;
    padding-left: 0;
    transition: 1s;
  }
}

/* PROFILE */
.contentProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: whitesmoke;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 18% 8%;
  margin: 4px;
}
.linkProfile {
  margin: 5px;
  color: white;
}
.linkProfile:hover {
  color: whitesmoke;
}

/* GRAL CONTENT  */
.gralContent {
  align-items: start;
  color: whitesmoke;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 150px 10%;
}

.gralContentHeader {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}
.gralTitle {
  font-size: 50px;
}
.gralSubtitle {
  font-size: 15px;
}

@media (max-width: 767px) {
  .gralContent {
    margin: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gralContentHeader {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 83%;
    align-items: center;
    margin: 10px;
    padding: 30px;
  }
}

/* SECTIONS - This are inside of each GRAL CONTENT */
.contentSection {
  display: flex;
  flex-direction: row;
  width: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  border: solid;
  max-width: 300px;
  margin: 3px;
}

/* BLOG */
.blogContent {
  margin: 10px;
}
/* WHO I AM? -*/
.sectionWhoIam {
  display: flex;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}
.paragraphWhoIam {
  display: flex;
  text-align: justify;
  font-style: oblique;
  width: 48%;
}
.imgWhoIam {
  width: 48%;
  border-radius: 10px;
  padding: 5px;
}

@media (max-width: 767px) {
  .sectionWhoIam {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 83%;
    align-items: center;
    margin: 10px;
    padding: 30px;
  }
  .paragraphWhoIam {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-style: oblique;
  }
  .imgWhoIam {
    width: 48%;
    border-radius: 10px;
  }
}
