.AboutmeContent {
  display: flex;
  flex-direction: column;
  margin: 5%;
  background: linear-gradient(90deg, #2e3141 0%, #4c5c96 50%, #8791c7 100%);
  align-content: center;
  justify-content: center;
  padding: 2%;
  border-radius: 5px;
}

.AboutmeColumn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;

  filter: opacity(20px);
}

.AboutmeText {
  width: 100%;
  text-align: justify;
  padding: 10px;
  margin: 0px;
  background-color: #4c5c9645;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.AboutmeImage {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 100%;
  height: 20%;
  filter: none;
}

.AboutMeTitle {
  color: whitesmoke;
  margin: 10px 220px;
  text-align: center;
  font-size: 500%;
  font-style: italic;
}

@media (max-width: 967px) {
  .AboutmeColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
  .AboutMeTitle {
    color: whitesmoke;
    margin: 0;
    text-align: center;
    font-size: 90px;
    font-style: italic;
  }

  .AboutmeText {
    width: 90%;
    align-self: center;
    text-align: justify;

    background-color: transparent;
  }

  .AboutmeImage {
    align-self: center;
    border-radius: 10px;
    width: 50%;
  }
}
